In [7]:
#arithmetic
def add(a,b):
    return(a+b)
def sub(a,b):
    return(a-b)
def mul(a,b):
    return(a*b)
def div(a,b):
    return(a/b)
print("1.addition")
print("2.subtraction")
print("3.multilication")
print("4.divition")
while True:
    choice=input("enter choice(1/2/3/4): ")
    if choice in('1','2','3','4'):
        a=float(input("enter the first number"))
        b=float(input("enter the second number"))
        if choice=='1':
            print(a,"+",b,"=",add(a,b))
        elif choice=='2':
            print(a,"-",b,"=",sub(a,b))
        elif choice=='3':
            print(a,"*",b,"=",mul(a,b))
        elif choice=='4':
            print(a,"/",b,"=",div(a,b))
        break
    else:
        print("invalid input")

1.addition
2.subtraction
3.multilication
4.divition
enter choice(1/2/3/4): 1
enter the first number5
enter the second number4
5.0 + 4.0 = 9.0

In [11]:
even=0
odd=0
for i in range(1,21):
    if i%2==0:
        even=even+1
    else:
        odd=odd+1
print("even number is",even)
print("odd number is",odd)

even number is 10
odd number is 10

In [15]:
array=[]
print("enter the array element")
for i in range (10):
    array.append(int(input()))
print(array)
array.sort()
print('sorted array is',array)

enter the array element
10
56
5
6
6
8
6
54
5
6
[10, 56, 5, 6, 6, 8, 6, 54, 5, 6]
sorted array is [5, 5, 6, 6, 6, 6, 8, 10, 54, 56]

In [17]:
n=int(input("enter a number"))
if n>100 and n%2==0:
    print("is greater and even")
else:
    print("number is not greater and even")

enter a number315
nu,ber is not greater and even

In [24]:
def person(name,age):
    print('Name : ',name)
    print('Age :',age)
person('ammu',67)

Name :  ammu
Age : 67

In [14]:
list=[]
for i in range (4,30):
    if i%2==0:
        list.append(i)
print(list)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [15]:
set1=set()
list1=[]
n=int(input("enter the length of list:"))
print("enter the elements:") 
for i in range(n):
    list1.append(int(input()))
print(list)
for ele in list1:
    set1.add(ele)
print(set1)

enter the length of list:5
enter the elements:
4
6
7
8
7
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
{8, 4, 6, 7}

In [22]:
set1={3,4,7,8,5,7}
set2={5,6,8,2,1,7}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [27]:
list1=[]
n=int(input("enter the length of list"))
print("enter the element")
for i in range(n):
    list1.append(int(input()))
if list1[0]==list1[-1]:
    print(" true")
else:
    print(" fals")

enter the length of list3
enter the element
4
5
6
 fals

In [32]:
list1=[]
n=int(input("enter the length of list"))
print("enter the elements")
for i in range(n):
    list1.append(int(input()))
print(list1)
for i in list1:
    if i%5==0:
        print(i)

enter the length of list3
enter the elements
5
10
34
[5, 10, 34]
5
10

In [34]:
#not divisible by 2&3
list=[]
for i in range(1,50):
    if i%2!=0 and i%3!=0:
        list.append(i)
print(list)

[1, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49]

In [3]:
sub1=int(input("enter the maths mark"))
sub2=int(input("enter the chemistry mark"))
sub3=int(input("enter the physics mark"))
sub4=int(input("enter the biology mark"))
sub5=int(input("enter the english mark"))
per=(sub1+sub2+sub3+sub4+sub5)/500*100
if per>90:
    print("Grade A")
elif per>80:
    print("Grade B")
elif per>70:
    print("Grade C")
elif per>60:
    print("Grade D")
else:
    print("fail")

enter the maths mark65
enter the chemistry mark56
enter the physics mark78
enter the biology mark87
enter the english mark75
Grade C

In [15]:
n=int(input("enter arange"))
for i in range(1,n+1):
    if i%7==0 and i%5==0:
        print(i)

enter arange100
35
70

In [19]:
n=int(input("enter the number"))
sum=0
for i in range(1,n):
    sum=sum+i
print("sum of natural number",sum)

enter the number5
sum of natural number 10

In [20]:
n=int(input("enter the number"))
sum=0
for i in range(1,n):
    sum=sum+(1/i)
print("sum of numbers",sum)

enter the number6
sum of numbers 2.283333333333333

In [31]:
list1=[]
odd=[]
even=[]
n=int(input("enter the length of list"))
print("enter the elements")
for i in range(n):
    list1.append(int(input()))
print(list1)    
for ele in list1:
    if ele%2==0:
        even.append(ele)
    else:
        odd.append(ele)
print("even number",even)
print("odd number",odd)

enter the length of list4
enter the elements
4
6
7
9
[4, 6, 7, 9]
even number [4, 6]
odd number [7, 9]

In [3]:
string1=input("enter a string")
char=0
word=1
for i in string1:
    char=char+1
    if (i==' '):
        word=word+1
print("number of words in string")
print(word)
print(char)

enter a stringhello world
number of words in string
2
11

In [6]:
dir={'A':3,'B':14,'C':234}
tot=1
for i in dir:
    tot=tot*dir[i]
print(tot)

9828

In [13]:
s1=input("enter the first string:")
s2=input("enter the secons string:")
a=list(set(s1)^set(s2))
print("the letters are:")
for i in a:
    print(i)

enter the first string:good morning
enter the secons string:hello world
the letters are:
w
m
h
l
e
g
n
i

In [14]:
list1=['amrutha','anagha','rahul']
list2=['34','56','34']
dict(zip(list1,list2))

{'amrutha': '34', 'anagha': '56', 'rahul': '34'}