In [2]:
n = int(input("Enter the value of 'n': "))
a = 0
b = 1
sum = 0
count = 1
print("Fibonacci Series: ", end = " ")
while(count <= n):
  print(sum, end = " ")
  count += 1
  a = b
  b = sum
  sum = a + b

Enter the value of 'n': 5
Fibonacci Series:  0 1 1 2 3

In [3]:
string = input("Please enter your own String : ")
char = input("Please enter your own Character : ")

count = 0
for i in range(len(string)):
    if(string[i] == char):
        count = count + 1

print("The total Number of Times ", char, " has Occurred = " , count)

Please enter your own String : hello world
Please enter your own Character : e
The total Number of Times  e  has Occurred =  1

In [4]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if ((column == 1 and row != 0 and row != 6) or ((row == 0 or row == 6) and column > 1 and column < 5) or (row == 3 and column > 2 and column < 6) or (column == 5 and row != 0 and row != 2 and row != 6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *
 * ***
 *   *
 *   *
  ***

In [5]:
import re 
def check_str(ip_str):
    re_exp = r'^[a-z]$|^([a-z]).*\1$'
 
    if(re.search(re_exp, ip_str)):   
        print("The input string {0} starts and ends with same character!".format(ip_str))   
    else:   
        print("The input string {0} does not starts and ends with same character!".format(ip_str))
        
ip_str = input("Enter the string: ")
check_str(ip_str)

Enter the string: malayalam
The input string malayalam starts and ends with same character!

In [1]:
list1 = [11, -21, 0, 45, 66, -93]
for num in list1:
    if num < 0:
       print(num, end = " ")

-21 -93

In [4]:
lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [5]:
side = int(input("Please Enter any Side of a Square  : "))

print("Square Star Pattern") 

for i in range(side):
    for i in range(side):
        print('*', end = '  ')
    print()

Please Enter any Side of a Square  : 5
Square Star Pattern
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [7]:
string = input("Please Enter your Own String : ")

string1 = string.upper()
 
print("\nOriginal String in Lowercase  =  ", string)
print("The Given String in Uppercase =  ", string1)

Please Enter your Own String : python

Original String in Lowercase  =   python
The Given String in Uppercase =   PYTHON

In [10]:
rows = int(input("Enter number of rows: "))

k = 0
count=0
count1=0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print("  ", end="")
        count+=1
    
    while k!=((2*i)-1):
        if count<=rows-1:
            print(i+k, end=" ")
            count+=1
        else:
            count1+=1
            print(i+k-(2*count1), end=" ")
        k += 1
    
    count1 = count = k = 0
    print()

Enter number of rows: 5
        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [14]:
rows = 6

for num in range(rows):

    for i in range(num):

        print(num,end=' ') # print number

    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [20]:
for i in range(0, rows):  
    for j in range(0, i + 1):  
        print("1", end=' ')  
        print(" ")   
for i in range(rows + 1, 0, -1):  
    for j in range(0, i - 1):  
        print("1", end=' ')  
    print(" ")

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1
1 1 1 1
1 1 1
1 1
1

In [21]:
def common_member(a, b):
    a_set = set(a)
    b_set = set(b)
    if len(a_set.intersection(b_set)) > 0:
        return(True) 
    return(False)   
  
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b))
  
a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b))

True
False

In [23]:
list1 = [10, 20, 4, 45, 99]
list1.sort()
print("Second largest element is:", list1[-2])

Second largest element is: 45

In [29]:
def Convert(lst):
    res_dct = {lst[i]: lst[i + 1] for i in range(0, len(lst), 2)}
    return res_dct
lst = ['a', 1, 'b', 2, 'c', 3]
print(Convert(lst))

{'a': 1, 'b': 2, 'c': 3}

In [30]:
import collections
str1 = 'thequickbrownfoxjumpsoverthelazydog'
d = collections.defaultdict(int)
for c in str1:
    d[c] += 1

for c in sorted(d, key=d.get, reverse=True):
  if d[c] > 1:
      print('%s %d' % (c, d[c]))

o 4
e 3
t 2
h 2
u 2
r 2

In [31]:
def Replace(str1):
    maketrans = str1.maketrans
    final = str1.translate(maketrans(',.', '.,', ' '))
    return final.replace(',', ", ")
string = "14, 625, 498.002"
print(Replace(string))

14.625.498, 002

In [32]:
day = { 'one' : 'Monday' , 'two' : 'Tuesday' , 'three' : 'Wednesday' , 'four' : 'Thursday' , 'five': 'Friday' , 'six' : 'Saturday' , 'seven': 'Sunday'}
print(day)
number = { 'one' : 1 , 'two' : 2 , 'three' : 3 , 'four' : 4 , 'five' : 5 , 'six' : 6 , 'seven' : 7}
print(sorted(day , key=number.__getitem__))
print([day[i] for i in sorted(day , key=number.__getitem__)])

{'one': 'Monday', 'two': 'Tuesday', 'three': 'Wednesday', 'four': 'Thursday', 'five': 'Friday', 'six': 'Saturday', 'seven': 'Sunday'}
['one', 'two', 'three', 'four', 'five', 'six', 'seven']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [33]:
def unique_list(l):
    temp = []
    for x in l:
        if x not in temp:
            temp.append(x)
    return temp

text_str = ["Python", "Exercises", "Practice", "Solution", "Exercises"]
print("Original String:")
print(text_str)
print("\nAfter removing duplicate words from the said list of strings:")
print(unique_list(text_str))

Original String:
['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']

After removing duplicate words from the said list of strings:
['Python', 'Exercises', 'Practice', 'Solution']

In [44]:
def pattern(rowsno):
 
    
    for i in range(1, rowsno + 1):
 
       
        for k in range(1, i):
            print(" ", end = "")
         
        
        for j in range(i, rowsno + 1):
            print(j, end = " ")
 
        print()
     
    
    for i in range(rowsno - 1, 0, -1):
 
        
        for k in range(1, i):
            print(" ", end = "")
         
       
        for j in range(i, rowsno + 1):
            print(j, end = " ")
 
        print()
 rowsno = 7
 pattern(rowsno)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 28)

In [45]:
def pattern(rows_no):
 
   
    for i in range(1, rows_no + 1):
 
        
        for k in range(1, i):
            print(" ", end = "")
         
        
        for j in range(i, rows_no + 1):
            print(j, end = " ")
 
        print()
     
   
    for i in range(rows_no - 1, 0, -1):
 
        
        for k in range(1, i):
            print(" ", end = "")
         
        
        for j in range(i, rows_no + 1):
            print(j, end = " ")
 
        print()
     
rows_no = 7
 
pattern(rows_no)

1 2 3 4 5 6 7
 2 3 4 5 6 7
  3 4 5 6 7
   4 5 6 7
    5 6 7
     6 7
      7
     6 7
    5 6 7
   4 5 6 7
  3 4 5 6 7
 2 3 4 5 6 7
1 2 3 4 5 6 7

In [3]:
n=int(input("enter a number"))
count=0
while(n>0):
    n=n//10
    count=count+1
print(count)

enter a number3456
4

In [8]:
#python program to check  if a number is perfect or not
n=int(input("enter a number"))
sum=0
for i in range(1,n):
    if(n%i==0):
        sum=sum+i
if(sum==n): 
    print("number is perfect")
else:
    print("number is not perfect")

enter a number6
number is perfect

In [11]:
# find sum of n natural numbers
n=int(input("enter the number"))
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

enter the number5
15

In [19]:
#intersection of 2 list
a=[13,45,67,24,45]
b=[45,43,56,13,67]
list(set(a)&set(b))

[13, 67, 45]

In [20]:
#sub srting present in a string
string=input("enter the string")
substring=input("enter the substring")
if substring in string:
    print("sub string present in string")
else:
    print("sub string is not present in string")

enter the stringmalayalam
enter the substringmala
sub string present in string